# venv
bin/
include/
lib/
lib64/
share/
*.cfg

# Python
__pycache__
*.pyc

# Windows
Thumbs.db

# MacOS
.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.cookie

npm-debug.log*
yarn-debug.log*
yarn-error.log*