@media all and (min-width: 480px) {
    .Login {
      padding: 60px;
      font-size: 20;
      color: black;
      margin: 10%;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      background-color: rgb(46, 43, 43);
      opacity: 0.8;
      padding: 40px;
      align-self: center;
      align-content: center;
      justify-content: center;
      color: white;
    }
  }
  